.button{
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    margin: 45px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    width:300px;
    height: 60px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
}

.button:hover{
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.redo{
    
}
        